<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: headerBasics(${post.title} + ' | blogical.')"></div>
    <div th:replace="fragments/css :: myCSS"></div>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">

    <h1 th:text="${post.title}" class="display-1 pt-5"></h1>

    <p th:text="${post.body}" class="my-5"></p>
    <br />

    <a href="/posts" class="btn btn-light btn-sm">Back to Ads</a>
    <a th:href="'/posts/' + ${post.id} + '/edit'" class="btn btn-warning btn-sm">Edit</a>
    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#deleteModal">
        Delete...
    </button>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 th:text="'Are you sure you want to delete ' + ${post.title} + '?'"></h6>
                <small><em>This cannot be undone.</em></small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a th:href="'/posts/' + ${post.id} + '/delete'" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/scripts :: myScripts"></div>
</body>
</html>