<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: headerBasics(${post.title} + ' | blogical.')"></div>
    <div th:replace="fragments/css :: myCSS"></div>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">

<h2 th:text="${post.title}"></h2>

<p th:text="${post.body}"></p>
    <br />
    <a th:href="'/posts/' + ${post.id} + '/edit'" class="btn btn-warning btn-sm">Edit</a>
</div>
<div th:replace="fragments/scripts :: myScripts"></div>
</body>
</html>