<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Dice Game</title>
    </head>
    <body>

        <h1>Welcome to the Dice Game!</h1>
        <br />

        <h4>We have chosen a random number...can you guess it?</h4>

        <span><a href="/roll-dice/1">1</a></span>
        <span><a href="/roll-dice/2">2</a></span>
        <span><a href="/roll-dice/3">3</a></span>
        <span><a href="/roll-dice/4">4</a></span>
        <span><a href="/roll-dice/5">5</a></span>
        <span><a href="/roll-dice/6">6</a></span>

        <h4>Your guess: <span th:text="${userGuess}"></span></h4>
        <h4>Correct answer: <span th:text="${winningNo}"></span></h4>

        <div th:if="${outcome == 'win'}"><h2>You win!</h2></div>
        <div th:if="${outcome == 'lose'}"><h2>You lose :(</h2></div>

    </body>
</html>