<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: headerBasics('Home | blogical.')"></div>
    <div th:replace="fragments/css :: myCSS"></div>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container">
        <h1>Welcome to <span style="color: #ffc107;">blog</span>ical.</h1>
        <br />
        <a href="/posts" methods="GET" class="btn btn-warning">View Posts</a>
    </div>
    <div th:replace="fragments/scripts :: myScripts"></div>
</body>
</html>